.list {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.contactData {
  margin: 15px auto 15px 0;
  font-weight: 500;
}
.item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: solid 1px grey;
  border-radius: 5px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
