.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
}
.button:hover,
.button:focus {
  color: white;
  background-color: steelblue;
}
.contactData {
  margin: 15px auto 15px 0;
  font-weight: 500;
}
.item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: solid 1px grey;
  border-radius: 5px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
